@font-face {
  font-family: "TerminaBlack";
  src: URL("termina_black.ttf") format("truetype");
}

@font-face {
  font-family: "TerminaDemi";
  src: URL("termina_demi.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  color: white;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

.container {
  width: 100%;
  height: 80px;
  background-color: #151523;
  position: absolute;
  bottom: -80px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 0 20px;
  display: flex;
  font-family: "TerminaBlack";
  border-right: solid 0.5px #5e5384;
  height: 100%;
  align-items: center;
  width: 450px;
  justify-content: center;
  white-space: nowrap;
}

.tag-list {
  list-style: none;
}

.tag-list li:first-child {
  border-left: solid 0.5px #5e5384;
}

.scroller {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  gap: 10px;
}

.scroller .scroller__inner {
  flex-wrap: nowrap;
}

.scroller__inner {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: white;
}

@keyframes show {
  from {
    bottom: -80px;
  }
  to {
    bottom: 0;
  }
}

@keyframes hide {
  from {
    bottom: 0;
  }
  to {
    bottom: -80px;
  }
}

@keyframes scroll {
  from {
    transform: translate(25%);
  }
  to {
    transform: translate(-100%);
  }
}

@keyframes scrollMonopost {
  from {
    transform: translate(200%);
  }
  to {
    transform: translate(-100%);
  }
}
